.locations
    .locationsContainer
        .location#canada
            .location_details
                h2.location_title Canada 
                .location_info
                    .location_address
                        h4.office Designo Central Office
                        h5.street 3886 Wellington Street 
                        h5.street Toronto,Ontario M9C 3J5
                    .location_contacts
                        h4.office Contact
                        h5.street P: +1 253-863-8967
                        h5.street M: contact@designo.co
            .location_map
        .location#australia
            .location_details
                h2.location_title Australia 
                .location_info
                    .location_address
                        h4.office Designo AU Office
                        h5.street 19 Balonne Street
                        h5.street New South Wales 2443
                    .location_contacts
                        h4.office Contact
                        h5.street P: (02) 6720 9092
                        h5.street M: contact@designo.au
            .location_map
        .location#uk
            .location_details
                h2.location_title United Kingdom
                .location_info
                    .location_address
                        h4.office Designo UK Office
                        h5.street 13 Colorado Way
                        h5.street Rhyd-y-fro SA8 9GA
                    .location_contacts
                        h4.office Contact
                        h5.street P: 078 3115 1400
                        h5.street M: contact@designo.uk
            .location_map