header
    .logo
        a(href="index.html") 
            img(src="assets/img/logo-dark.png", alt="")
    nav
        a(href="company.html") Our Company
        a(href="locations.html") Locations
        a(href="contact.html") Contact
    div#menu
        .icons
            img(src="assets/img/icon-close.svg", alt="").close
            img(src="assets/img/icon-hamburger.svg", alt="").open.active
div#mobile_Nav
    a(href="company.html") Our Company
    a(href="locations.html") Locations
    a(href="contact.html") Contact