footer(style="margin-top: 130px")
    .footerContainer
        .footerTop
            .logo
                a(href="index.html") 
                    img(src="assets/img/logo-light.png", alt="")
            nav
                a(href="company.html") OUR COMPANY 
                a(href="locations.html") LOCATIONS
                a(href="contact.html") CONTACT
        .footerBottom
            address
                h4.office Designo Central Office
                h5.street 3886 Wellington Street 
                h5.street Toronto,Ontario M9C 3J5
            .contacts
                h4.office Contact Us (Central Office)
                h5.street P: +1 253-863-8967
                h5.street M: contact@designo.co