.formContainer
    .form_content
        h1.contact_title Contact Us 
        p.contact_description Ready to talk it to the next level? Let's talk about your project or idea and find out how we can help your business grow. If you are looking for unique digital experiences that's realtable to your users, drop us a line.
    form
        input(type="text" placeholder="Name")
        input(type="text" placeholder="Email Address")
        input(type="text" placeholder="Phone")
        textarea(name="", rows="10" placeholder="Your Message")
        input(type="submit", value="SUBMIT").formCTA