@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    padding: 0;
  }
}

header {
  margin-top: 64px;
  height: 24px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  header {
    margin-top: 35px;
    padding: 0 24px;
  }
}

header .logo {
  padding-top: 8px;
}

header .logo a img {
  height: 24px;
  width: 196px;
}

header nav {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

header nav a {
  color: #fff;
  text-transform: uppercase;
  margin-left: 42px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  color: #000;
}

header nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
}

header #menu {
  display: none;
}

@media screen and (max-width: 768px) {
  header #menu {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header #menu .icons .open, header #menu .icons .close {
  display: none;
}

#mobile_Nav {
  display: none;
  background-color: #000;
  padding: 20px;
}

#mobile_Nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
  margin: 10px 0;
}

#mobile_Nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .show {
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    position: absolute;
    z-index: 9999;
    width: 100%;
  }
}

.active {
  display: block !important;
}

.heroCard {
  margin-top: 67px;
  padding-bottom: 135px;
  background-color: #e88069;
  border-radius: 15px;
  color: #fff;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
  position: relative;
  height: 640px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .heroCard {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 850px;
    padding: 50px;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .heroCard {
    border-radius: 0;
    margin-top: 38px;
  }
}

.heroCard:after {
  content: url(../img/bg-pattern-hero-home.svg);
  position: absolute;
  left: 450px;
  top: 0px;
  z-index: 1;
}

.heroCard .hero_content {
  -webkit-flex: 1.5;
     -moz-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  z-index: 999;
}

@media screen and (max-width: 1024px) {
  .heroCard .hero_content {
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    width: 575px;
  }
}

@media screen and (max-width: 768px) {
  .heroCard .hero_content {
    width: 300px;
    padding: 10px;
  }
}

.heroCard .hero_content .hero_title {
  font-size: 48px;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .heroCard .hero_content .hero_title {
    font-size: 32px;
    line-height: 36px;
  }
}

.heroCard .hero_content .hero_description {
  margin: 30px 0 45px 0;
}

.heroCard .hero_content .cta {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.heroCard .hero_image {
  position: relative;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1024px) {
  .heroCard .hero_image {
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.heroCard .hero_image img {
  position: absolute;
  top: -350px;
  left: -100px;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .heroCard .hero_image img {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -120px;
  }
}

.projects {
  margin: 150px 0 0 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .projects {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 0 50px;
  }
}

@media screen and (max-width: 425px) {
  .projects {
    padding: 0 25px;
  }
}

.projects .project_column {
  width: 100%;
  margin: 15px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .projects .project_column {
    margin: 0;
  }
}

.projects .project_column .project_card {
  height: 100%;
  width: 100%;
  color: #fff;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  .projects .project_column .project_card {
    height: 250px !important;
  }
}

.projects .project_column .project_card .project_title {
  font-size: 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  .projects .project_column .project_card .project_title {
    font-size: 26px;
  }
}

.projects .project_column .project_card.featured {
  height: 550px;
}

.projects .project_column .project_card a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.projects .project_column .project_card a:hover {
  text-decoration: underline;
}

.skills {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 130px;
}

@media screen and (max-width: 1024px) {
  .skills {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .skills {
    padding: 0 50px;
    margin-top: 80px;
  }
}

.skills .skill {
  margin: 30px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .skills .skill {
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .skills .skill {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills .skill .skill_image {
  position: relative;
}

.skills .skill .skill_image:after {
  content: url(../img/bg-pattern-small-circle.svg);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -50;
}

.skills .skill .skill_image img {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .skills .skill .skill_content {
    text-align: left;
    margin-left: 32px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .skills .skill .skill_content {
    margin-left: 0;
    text-align: center;
    width: 400px;
    padding: 0 50px;
  }
}

@media screen and (max-width: 425px) {
  .skills .skill .skill_content {
    width: 300px;
  }
}

.skills .skill .skill_content .skill_title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 32px auto;
}

.skills .skill .skill_content .skill_description {
  font-size: 16px;
  font-weight: 400;
}

.getInTouch {
  background: #E7816B;
  margin-top: 130px;
  border-radius: 20px;
  z-index: 99999;
  overflow: hidden;
  position: relative;
}

.getInTouch:after {
  content: url(../img/bg-pattern-hero-home.svg);
  position: absolute;
  right: -10%;
  top: -50%;
  z-index: -10;
}

@media screen and (max-width: 768px) {
  .getInTouch {
    border-radius: 0;
  }
  .getInTouch.companyGIT {
    margin-top: 0;
  }
}

.getInTouch .getContainer {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 100px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .getInTouch .getContainer {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 435px) {
  .getInTouch .getContainer {
    padding: 70px 30px;
  }
}

.getInTouch .getContainer .getColumn {
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.getInTouch .getContainer .getColumn.left {
  -webkit-flex: 1.2;
     -moz-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}

.getInTouch .getContainer .getColumn.right {
  text-align: right;
}

.getInTouch .getContainer .getColumn .getTitle {
  font-size: 40px;
  color: #fff;
}

.getInTouch .getContainer .getColumn .getDescription {
  font-size: 16px;
  color: #fff;
}

.getInTouch .getContainer .getColumn .getCTA {
  background: #fff;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 10px;
  padding: 15px 20px;
}

@media screen and (max-width: 768px) {
  .getInTouch .getContainer .getColumn .getCTA {
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 50px;
  }
}

footer {
  background: #1D1C1E;
  margin-top: -60px;
  padding: 120px 60px 60px 60px;
}

footer .footerContainer {
  max-width: 1024px !important;
  margin: 0 auto;
}

footer .footerContainer .footerTop {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #333234;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  footer .footerContainer .footerTop {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border-bottom: none;
  }
}

footer .footerContainer .footerTop .logo {
  padding-top: 8px;
}

@media screen and (max-width: 768px) {
  footer .footerContainer .footerTop .logo {
    border-bottom: 1px solid #333234;
    width: 100%;
    padding-bottom: 25px;
  }
}

footer .footerContainer .footerTop .logo a img {
  height: 24px;
  width: 196px;
}

footer .footerContainer .footerTop nav {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  footer .footerContainer .footerTop nav {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 25px;
  }
}

footer .footerContainer .footerTop nav a {
  color: #fff;
  text-transform: uppercase;
  margin-left: 42px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
}

footer .footerContainer .footerTop nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  footer .footerContainer .footerTop nav a {
    margin: 10px 0;
  }
}

footer .footerContainer .footerBottom {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  color: #8E8D8E;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  footer .footerContainer .footerBottom {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

footer .footerContainer .footerBottom address, footer .footerContainer .footerBottom .contacts {
  font-style: normal;
}

footer .footerContainer .footerBottom address .office, footer .footerContainer .footerBottom address .street, footer .footerContainer .footerBottom .contacts .office, footer .footerContainer .footerBottom .contacts .street {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

footer .footerContainer .footerBottom .contacts {
  margin-left: 150px;
}

@media screen and (max-width: 768px) {
  footer .footerContainer .footerBottom .contacts {
    margin: 60px 0;
  }
}

.company {
  margin-top: 67px;
  background-color: #e88069;
  border-radius: 15px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .company {
    border-radius: 0;
    margin-top: 38px;
  }
}

.company.about {
  height: 480px;
}

@media screen and (max-width: 1024px) {
  .company.about {
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.company.about .companyImage {
  background: url(../img/image-about-hero.jpg);
  height: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
}

@media screen and (max-width: 1024px) {
  .company.about .companyImage {
    width: 100%;
    height: 320px;
    background: url(../img/image-about-hero-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .company.about .companyImage {
    background: url(../img/image-about-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.company.talent {
  height: 640px;
  background: #fdf3f0;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 130px;
}

@media screen and (max-width: 1024px) {
  .company.talent {
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .company.talent {
    margin-top: 0;
  }
}

.company.talent .company_title {
  color: #e88069;
}

.company.talent .company_description {
  color: #333136;
}

.company.talent .companyImage {
  height: 640px;
  background: url(../img/image-world-class-talent.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .company.talent .companyImage {
    height: 320px;
    background: url(../img/image-world-class-talent-tablet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .company.talent .companyImage {
    background: url(../img/image-world-class-talent-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.company.deal {
  height: 640px;
  background: #fdf3f0;
  margin-top: 130px;
}

@media screen and (max-width: 1024px) {
  .company.deal {
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.company.deal .company_title {
  color: #e88069;
}

.company.deal .company_description {
  color: #333136;
}

.company.deal .companyImage {
  height: 640px;
  background: url(../img/image-real-deal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .company.deal .companyImage {
    height: 320px;
    background: url(../img/image-real-deal-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .company.deal .companyImage {
    background: url(../img/image-real-deal-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.company .companyInfo {
  padding: 100px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.company .companyInfo:after {
  content: url(../img/bg-pattern-hero-home.svg);
  position: absolute;
  top: -150px;
  left: -80px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .company .companyInfo {
    padding: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .company .companyInfo {
    width: 300px;
    padding: 50px 0;
    margin: 0 auto;
  }
  .company .companyInfo:after {
    content: '';
  }
}

.company .companyInfo .company_title {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .company .companyInfo .company_title {
    font-size: 32px;
    line-height: 36px;
  }
}

.company .companyInfo .company_description {
  margin: 30px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .company .companyInfo .company_description {
    width: 575px;
    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .company .companyInfo .company_description {
    width: auto;
    padding: 0 20px;
  }
}

.company .companyImage {
  width: 480px;
}

@media screen and (max-width: 1024px) {
  .company .companyImage {
    width: 100%;
  }
}

.cities {
  margin-top: 130px;
}

.cities .citiesContainer {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cities .citiesContainer {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cities .citiesContainer .cityCard {
  margin: 0 75px;
  text-align: center;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .cities .citiesContainer .cityCard {
    margin: 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .cities .citiesContainer .cityCard {
    margin: 40px 0;
  }
}

.cities .citiesContainer .cityCard .cityInfo .city_title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333136;
  margin: 32px auto;
}

.cities .citiesContainer .cityCard .cityImage {
  position: relative;
}

.cities .citiesContainer .cityCard .cityImage:after {
  content: url(../img/bg-pattern-small-circle.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.cities .citiesContainer .cityCard .cityImage img {
  width: 100%;
  height: 100%;
}

.cities .citiesContainer .cityCard .cityCTA {
  background: #e7816b;
  width: 152px;
  height: 56px;
  margin: 0 auto;
  border-radius: 8px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.cities .citiesContainer .cityCard .cityCTA a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

.locations {
  margin-top: 67px;
}

@media screen and (max-width: 768px) {
  .locations {
    margin-top: 38px;
  }
}

.locations .locationsContainer .location {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin-bottom: 130px;
}

@media screen and (max-width: 1100px) {
  .locations .locationsContainer .location {
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .locations .locationsContainer .location {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 38px;
  }
}

.locations .locationsContainer .location#canada .location_map {
  background: url(../img/image-map-canada.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
  .locations .locationsContainer .location#canada .location_map {
    width: 100%;
    height: 350px;
    background: url(../img/image-map-canada-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .locations .locationsContainer .location#canada .location_map {
    border-radius: 0;
  }
}

.locations .locationsContainer .location#australia .location_map {
  background: url(../img/image-map-australia.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
  .locations .locationsContainer .location#australia .location_map {
    width: 100%;
    height: 350px;
    background: url(../img/image-map-australia-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .locations .locationsContainer .location#australia .location_map {
    border-radius: 0;
  }
}

.locations .locationsContainer .location#uk .location_map {
  background: url(../img/image-map-united-kingdom.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
  .locations .locationsContainer .location#uk .location_map {
    width: 100%;
    height: 350px;
    background: url(../img/image-map-united-kingdom-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .locations .locationsContainer .location#uk .location_map {
    border-radius: 0;
  }
}

.locations .locationsContainer .location .location_details {
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FDF3F0;
  margin-right: 30px;
  border-radius: 15px;
}

@media screen and (max-width: 1100px) {
  .locations .locationsContainer .location .location_details {
    margin-right: 0;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .locations .locationsContainer .location .location_details {
    margin: 0;
    border-radius: 0;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.locations .locationsContainer .location .location_details .location_title {
  font-size: 48px;
  font-weight: 500;
  color: #e88069;
}

.locations .locationsContainer .location .location_details .location_info {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: #333136;
  margin-top: 25px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .locations .locationsContainer .location .location_details .location_info {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.locations .locationsContainer .location .location_details .location_info .location_address {
  margin-right: 100px;
  font-weight: 500;
  position: relative;
  z-index: 200;
}

.locations .locationsContainer .location .location_details .location_info .location_address:after {
  content: url(../img/bg-pattern-small-circle.svg);
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 150;
  width: 200px;
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .locations .locationsContainer .location .location_details .location_info .location_address {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .locations .locationsContainer .location .location_details .location_info .location_address:after {
    content: '';
  }
}

.locations .locationsContainer .location .location_details .location_info .location_contacts {
  position: relative;
  z-index: 201;
}

.locations .locationsContainer .location .location_details .location_info .location_contacts:after {
  content: url(../img/bg-pattern-small-circle.svg);
  position: absolute;
  top: -80px;
  left: 0;
  z-index: 151;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .locations .locationsContainer .location .location_details .location_info .location_contacts:after {
    content: '';
  }
}

.locations .locationsContainer .location .location_map {
  border-radius: 15px;
  height: 350px;
  width: 350px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
}

.formContainer {
  margin-top: 67px;
  padding-bottom: 135px;
  background-color: #e88069;
  border-radius: 15px;
  color: #fff;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
  position: relative;
  height: 640px;
  overflow: hidden;
  z-index: 400;
}

@media screen and (max-width: 1024px) {
  .formContainer {
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 50px;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .formContainer {
    border-radius: 0;
    margin-top: 38px;
  }
}

.formContainer:after {
  content: url(../img/bg-pattern-hero-home.svg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -300;
}

.formContainer .form_content {
  -webkit-flex: 1.5;
     -moz-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  z-index: 550;
}

@media screen and (max-width: 1024px) {
  .formContainer .form_content {
    text-align: center;
    width: 575px;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .formContainer .form_content {
    width: 300px;
    padding: 10px;
  }
}

.formContainer .form_content .contact_title {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .formContainer .form_content .contact_title {
    font-size: 32px;
    line-height: 36px;
  }
}

.formContainer .form_content .contact_description {
  margin: 30px 0 45px 0;
}

.formContainer form {
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
}

.formContainer form input, .formContainer form textarea {
  background: transparent !important;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  padding-left: 15px;
  padding-bottom: 8px;
  color: #fff !important;
  margin: 12.5px 0 12.5px 0;
  font-size: 15px;
}

.formContainer form input:focus, .formContainer form textarea:focus {
  border-bottom: 3px solid #fff;
}

.formContainer form ::-webkit-input-placeholder {
  color: #fff;
}

.formContainer form :-moz-placeholder {
  color: #fff;
}

.formContainer form ::-moz-placeholder {
  color: #fff;
}

.formContainer form :-ms-input-placeholder {
  color: #fff;
}

.formContainer form ::-ms-input-placeholder {
  color: #fff;
}

.formContainer form ::placeholder {
  color: #fff;
}

.formContainer form .formCTA {
  background: #fff !important;
  color: #000 !important;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  height: 50px;
  width: 150px;
  padding: 0;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .formContainer form {
    width: 575px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .formContainer form {
    width: 300px;
    padding: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */