doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Project Starter Structure
        link(rel="stylesheet", href="assets/css/styles.css")
    body
        .container
            include ../includes/global/navigation.pug
            include ../includes/about/about.pug
            include ../includes/about/talent.pug
            include ../includes/about/cities.pug
            include ../includes/about/deal.pug            
            include ../includes/about/getintouch.pug
        include ../includes/global/footer.pug
        script(src="assets/scripts/script.js") 