.projects
    .project_column
        .project_card.featured(style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('assets/img/image-web-design-large.jpg'); background-repeat: no-repeat; background-size: cover;")
            h1.project_title Web Design
            a(href="#") View Projects➡

    .project_column
        .project_card(style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('assets/img/image-app-design.jpg');background-repeat: no-repeat; background-size: cover;")
            h1.project_title App Design 
            a(href="#") View Projects➡
        .project_card(style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('assets/img/image-graphic-design.jpg');background-repeat: no-repeat; background-size: cover;")
            h1.project_title Graphic Design 
            a(href="#") View Projects➡