.skills
    .skill
        .skill_image
            img(src="assets/img/illustration-passionate.svg", alt="")
        .skill_content
            h1.skill_title Passionate 
            p.skill_description Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions.
    .skill
        .skill_image
            img(src="assets/img/illustration-resourceful.svg", alt="")
        .skill_content
            h1.skill_title Resourcefull 
            p.skill_description Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collbaration. It gurantees superior results that fulfill our clients' needs.
    .skill
        .skill_image
            img(src="assets/img/illustration-friendly.svg", alt="")
        .skill_content
            h1.skill_title Friendly
            p.skill_description We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.