.cities
    .citiesContainer
        .cityCard
            .cityImage
                img(src="assets/img/illustration-canada.svg", alt="")
            .cityInfo
                h3.city_title Canada
            .cityCTA
                a(href="locations.html#canada") See Location
        .cityCard
            .cityImage
                img(src="assets/img/illustration-australia.svg", alt="")
            .cityInfo
                h3.city_title Australia
            .cityCTA
                a(href="locations.html#australia") See Location
        .cityCard
            .cityImage
                img(src="assets/img/illustration-united-kingdom.svg", alt="")
            .cityInfo
                h3.city_title United Kingdom
            .cityCTA
                a(href="locations.html#uk") See Location